@keyframes grow {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.2);
	}
}

@keyframes hvr-buzz {
	0% {
		transform: scale(2);
	}
	50% {
		transform: translateX(5px) rotate(5deg) scale(2);
	}
	100% {
		transform: translateX(-5px) rotate(-5deg) scale(2);
	}
}

@keyframes hvr-wobble-skew {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}



* {
	font-family: 'comic-sans-ms', sans-serif;
}

.hidden {
	display: none;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	pointer-events: none;

	z-index: 10;
}

body {
	background-image: url(../../common/assets/me.jpg);
	background-size: 20px;
}

.stop-button {
	all: unset;

	position: fixed;
	bottom: 20px;
	right: 20px;

	padding: 10px 20px;
	background-color: #00ffff;
	color: red;
	border: ridge #ff00ff 8px;

	transition: all 0.2s;
}

.stop-button:hover {
	cursor: pointer;
	background-color: #eaff00;
	color: #69523a;
	border-color: #7f03fc;
}

.stop-button:active {
	cursor: pointer;
	background-color: black;
	color: #38d1ff;
	border-color: #fc0703;
}

main {
	max-width: 850px;
	margin: 50px auto 200px;
	border: ridge 10px gray;
	padding: 20px;
	
	transition: all 0.2s;

	p, li {
		font-size: 12pt;
	}
	
	.word-grow{
		box-sizing: border-box;
		display: inline-block;
		transition: all 0.2s;
	}
	
	.word-grow:hover{
		font-size: 20pt;
	}

	.name-container {
		animation: grow 1s linear 0s infinite alternate;
	}

	a {
		display: inline-block;
		margin: 1px;
		padding: 0 10px;
		background-color: #ff3ac6;
		border: ridge #5fa41c 5px;
		color: white;
		transition: all 0.2s;
	}

	a:hover {
		animation-fill-mode: both;
		animation: hvr-buzz 0.15s linear infinite;
		background-color: #bb00ff;
		color: yellow;
		border-color: #00ffff;
	}
	
	h1 {
		padding: 20pt;
		
		font-size: 50pt;
		text-decoration: underline;
		font-style: italic;
		font-weight: bolder;
		text-align: center;

		margin: 0;
		margin-top: 20px;

		background-image: url('../../common/assets/exclamation.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: center;
	}

	h2 {
		background-image: url('../../common/assets/fire.gif');
		background-size: 100% 100%;
		padding: 10px;
		border-radius: 100000px;

		font-size: 30pt;
		
		width: fit-content;
		color: white;
	}

	h3 {
		animation: hvr-wobble-skew 1s linear infinite;
		background-image: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% );
		padding: 10px;
		width: fit-content;
	}

	
	.about {
		img {
			position: fixed;
			width: 100px;
		}
	}

	button {
		all: unset;
	}

	button:after {
		content: ' (This is a button, i just didnt style it. You can click it and it will do soemthing, who kwnos what tho.)';
		color: #555555;
	}
}
